input[type="text"] {
  border: none;
  border-bottom: 3px solid rgb(122 189 237);
  background: none;
  box-shadow: none;
  color: rgb(122 189 237);
}
.serach-btn {
  color: rgb(122 189 237);
  font-size: 27px;
}

.result-img {
  max-height: 100%;
  width: 140px;
  padding: 0%;
}
.image-container {
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
  width: 50%;
}
.caption {
  position: absolute;
  text-align: center;
  line-height: 200px;
  color: rgb(122 189 237);
}
.row-highlight {
  background: darkslategray;
  transition: 150ms;
}
.row-highlight:hover {
  background: purple;
  transform: scale(1.3);
}
